/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(269.68deg, #5D87E5 0.17%, #C9A0C8 66.78%, #FEACB9 99.78%);
  background-size: auto;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  }

@media (min-width: 400px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 1.2em;
  }
}


.menu {
  background-color: #F9F9F9;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
}

.menu li {
  list-style: none;
}

.menu a {
  color:#5D87E5;
  display: block;
  font-size: 0.8em;
  padding: 0.5em;
  text-decoration: none;
  transition: background-color 2s;
}

.menu a:active,
.menu a:hover {
  background-color: #5D87E5;
  color: #F9F9F9;
  
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*transform: scale(0.8) translateY(20px);
  opacity: 0;
  animation: ease 2s animacaoTitulo forwards;*/
}
/*
@keyframes animacaoTitulo {
  
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
.titulo:hover {
  transform: scale(1) translateY(0);
  opacity: 1;
}
*/


.user {
  width: 150px;
  object-fit: fill;
  border-radius: 50%;
  position: center;
  border: 2px solid #F9F9F9;
  background-repeat: no-repeat;
  transition: transform 500ms;
}

.user:hover {
  transform: scale(1.05);
}

.site-title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  padding-top: 1em;
}

.site-subtitle,
.site-title {
  color: #F9F9F9;
  text-align: center;
  font-weight: 200;
}

.site-subtitle {
  font-style: italic;
  font-size: 1.2em;
}



.sobre .grid {
  display: grid;
  gap: 1em;
  justify-content: space-around;
  margin: 2em;
}

@media (min-width: 400px) {
  .sobre .grid {
    grid-template-columns: 300px;
  }
}

@media (min-width: 600px) {
  .sobre .grid {
    grid-template-columns: 280px 280px;
  }
}

@media (min-width: 1000px) {
  .sobre .grid {
    grid-template-columns: 440px 440px;
  }
}

@media (min-width: 1200px) {
  .sobre .grid {
    grid-template-columns: 1000px;
  }
}


.portfolio h2,
.contato h2 {
  color: #F9F9F9;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  font-weight: 200;
  padding: 1em;
  text-align: center;
}

.portfolio h2:hover,
.contato h2:hover {
  color: #FEACB9;
}

.sobre p {
  color: #F9F9F9;
  text-align: left;

}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
  }
}

.portfolio {
  min-height: 100vh;
  text-align: center;
}

figure {
  color: #F9F9F9;
  display: inline-block;
  font-style: italic;
}

.img-portfolio {
  height: 200px;
  width: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 2px;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.05);
}

.contato {
  padding: 2em;
  min-height: 40vh;
  text-align: center;
}
.contato a {
  color: #F9F9F9;
  font-size: 3em;
  padding: 0.5em;
  text-decoration: none;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-shadow: 2px 2px 10px #FEACB9;

}
