/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/gradiente_fundo.svg");
  background-size: auto;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  height: 100vh;
  }

@media (min-width: 400px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 1.2em;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  
.menu {
  background-color: #F9F9F9;
  position: fixed;
  top: 0;
  width: 100vw;;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.menu li {
  list-style: none;
 }

.menu a {
  color: cornflowerblue;
  display: block;
  font-size: 0.8em;
  padding: 0.3em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  padding-top: 1em;
}

.site-subtitle,
.site-title {
  color: #F9F9F9;
  text-align: center;
  font-weight: 200;
}

.site-subtitle {
  font-style: italic;
  font-size: 1.2em;
}


.sobre .grid {
  display: grid;
  gap: 1em;
  justify-content: space-around;
  margin: 2em;
}

@media (min-width: 400px) {
  .sobre .grid {
    grid-template-columns: 300px;
  }
}

@media (min-width: 600px) {
  .sobre .grid {
    grid-template-columns: 280px 280px;
  }
}

@media (min-width: 1000px) {
  .sobre .grid {
    grid-template-columns: 440px 440px;
  }
}

@media (min-width: 1200px) {
  .sobre .grid {
    grid-template-columns: 1000px;
  }
}


.sobre h2,
.portfolio h2,
.contato h2 {
  color: #F9F9F9;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 1em;
  text-align: center;
}

.sobre h3 {
  color: #F9F9F9;
  font-style: italic;
  text-align: center;
}

.sobre p {
  color: #F9F9F9;
  text-align: left;

}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    justify-content: center;
  }
}

.portfolio {
  padding: 2em;
}

.portfolio figure {
  text-align: center;
}

figure,
.redes-sociais {
  color: #F9F9F9;
  display: inline-block;
  font-style: italic;
}

.img-portfolio {
  height: 200px;
  width: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 2px;
}

.contato {
  text-align: center;
  margin: 2em;
}

footer {
  background-color: #F9F9F9;
  bottom: 0;
  height: 2em;
  width: 100vw;;
}
